.users_table {
  padding: 10px;

  border-collapse: collapse;
  margin: 10px auto;
}

.users_body {
  &:hover {
    background-color: #474747;
  }
}

.users_header_item,
.users_body_item {
  border: 1px solid white;
  padding: 10px;
}

a {
  display: block;
}

.fetch_btn {
  display: block;
  margin: 10px auto;
}
